body {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%,

}

.item {
  width: 50%;
  margin: 1em; 
 
}

.box {
  overflow: scroll;
  text-align: left;
  background-color: black;
  word-wrap: break-word;
}